

body{
  font-family: 'Roboto', sans-serif;
}

.meal-plan-container{
  margin-top: 20px;
  margin-left: 5%;
  width: 90%;

}

.meal-plan-nav{
  /*background: yellow;*/
  height: 5rem;
  width: inherit;
  margin-left: inherit;


}

.day-plan-details{
  /*background: lightblue;*/
  height: auto;
  padding-top: 5%;
  width: inherit;
  margin: inherit;
}

.btn-container{
  /*background: red;*/
  height: 5rem;
  margin: 1%;
}
.calendar-container{
  /*background: grey;*/
  height: 5rem;
  text-align: center;
}

.arrow{
  margin-left: 30%;
}

.arrow-img{
  height: 3rem;
  margin-top: 0.4rem;
}

.calendar{
  margin: 1% 5% 5% 10%;
}

.calendar-lbl{
  font-size: 1.25rem;
}

.meal-time{
  /*width: 90%;*/
  margin-top: 1rem;
}
.meal-time-lbl{
  margin-left: 30%;
}

.recipe-slct{
  width: 90%;
}

.save-btn-container{
  margin-top: 5%;
}

.btn{
  width: 50%;
  background: #e16916;
  border-color: #e16916;
}

.btn:active{
  background-color: grey;
  border-color: grey;
}
