/* color scheme:
  dark brown (primary variable): #402921
  orange (--highlight variable): #b25433
  red (--secondary variable): #711e1d

  to use css variable: var(--variable-name, fallbacks)
  eg color: var(--primary, brown)

  css variables make it so if a commonly used value changes you only have to change it in one place
  feel free to create more

  fonts:
  'Caveat' (fancy font for headers and stuff)
  'Raleway' (all purpose font, fallback should be sans-serif)
  */

:root {
  --primary: #402921;
  --highlight: #b25433;
  --secondary: #711e1d;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100%;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: grid;
  grid-template-rows: 5rem auto;
  grid-template-columns: auto 1fr;
  grid-template-areas: 
    "nav nav"
    "menu screen";
}

#nav-bar {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  color: white;
  background-color: var(--primary, black);
  grid-area: nav;
}

.icon-button {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon-button i {
  margin: 1rem;
  margin-right: .5rem;
  font-size: 2rem;
  pointer-events: none;
}

/* .icon-button > span {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Caveat', sans-serif;
  font-size: 1.5rem;
} */

.icon-button > h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: 'Caveat', sans-serif;
  pointer-events: none;
}

#home-button {
  margin-right: calc(50% - 50px);
  margin-bottom: .5rem;
}

.screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  grid-area: screen;
}

#home > h1 {
  font-family: 'Caveat', cursive;
  font-size: 5rem;
  color: var(--primary, black);
}

#home > h1 > span {
  color: var(--secondary, red);
  font-weight: 700;
}


#home-login, #home-register, .rectangle-button, #home-search{
  width: 15rem;
  height: 3rem;
  background-color: var(--primary, black);
  color: white;
  font-size: 1.5rem;
  font-family: inherit;
  margin-top: 1rem;
  border: none;
  cursor: pointer;
}

#menu {
  width: 300px;
  background-color: var(--primary, black);
  height: 100%;
}

#menu-items {
  border-top: 1px solid white;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  width: 100%;
  height: 5rem;
  color: white;
  cursor: pointer;
  border-bottom: 1px solid white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#login > h2, #register > h2 {
  font-family: 'Caveat', 'Raleway', cursive;
  font-size: 5rem;
  color: var(--secondary, red);
  font-weight: 700;
  margin: 0;
  margin-bottom: 2rem;
}

.form-field {
  margin-top: 1rem;
}

.form-field > label {
  display: block;
  font-weight: bold;
  margin-bottom: .25rem;
}

.form-field input {
  width: 15rem;
  height: 1.5rem;
  padding: 0 .25rem;
}

.form-button {
  border: 2px solid var(--primary, black);
  color: white;
  background-color: var(--primary, black);
  font-family: inherit;
  font-size: 1rem;
  width: 15rem;
  height: 1.5rem;
  padding: 0 .25rem;
  box-sizing: content-box;
  margin-top: 2rem;
}

#login > a, #register > a {
  font-size: 1rem;
  margin-top: 2rem;
}

#settings {
  box-sizing: border-box;
  padding: 4rem;
  justify-content: space-between;
  align-items: flex-start;
}

#delete-account {
  align-self: center;
}

.delete-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.delete-popup {
  box-sizing: border-box;
  height: 80%;
  width: 50%;
  background: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 2rem 2rem 2rem;

}

#delete-redirect {
  justify-content: center;
  padding: 10%;
}

#delete-redirect > p, #delete-redirect h3 {
  text-align: center;
}

#exit-confirm-delete {
  color: black;
  align-self: flex-end;
}

#exit-confirm-delete > i {
  font-size: 1rem;
  width: 1rem;
  margin: auto;
}

/* #dash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

} */

#dash-head-block {
  order: 0;
  flex-basis: 0;
  /* flex-grow: 12; */
}

#dash-search-block {
  order: 1;
}

#dash-double-block {
  order: 2;
  display: flex;
  flex-direction: row;
}

#dash-meal-block {
  flex: 8;
  order: 1;
}

#dash-fav-block {
  flex: 4;
  order: 2;
}

.dash-fav-button {
  flex: 1;

}

.dashboard-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}